<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- <script src="js/angular.min.js"></script> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/skills.css"/>
    <script src="http://code.angularjs.org/1.3.18/angular.js"></script>
    <title>SkillClusters with Angular</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="greet">Welcome to SkillClusters!</h1>
        <h4>This application parses software developer job ads and determines, for each technical skill keyword (e.g.
            Python, Java, C#, Javascript, etc)
            what other skills are most likely to go with it (e.g. for Python it would be Django, Flask, etc.) So when
            one is preparing for a software development interview, one could know what other areas they need to study to
            answer the most likely interview questions.
        </h4>
        <h4>This application was written by <a href="http://geekitude.com">Elze Hamilton</a> and <a href="https://github.com/Cherietabb">Cherie Tabb</a>.</h4>
	<h3><a href="static/index.html">Go to the app</a></h3>
    </div>
</div>

<script type="text/javascript">
sc_project=2721969;
sc_invisible=1;
sc_security="5cfe5782";
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
class="statcounter"><a title="site stats"
href="http://www.statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="http://c29.statcounter.com/2721969/0/5cfe5782/0/"
alt="free hit counter" ></a></div></noscript>
<!-- End of StatCounter Code -->

</body>
</html>