{% extends 'admin/model/list.html' %}

{% block head %}
    {{ super() }}
	<p>This application parses software developer job ads and determines, for each technical skill keyword (e.g. Python, Java, C#, Javascript, etc) what other skills are most likely to go with it (e.g. for Python it would be Django, Flask, etc.) So when one is preparing for a software development interview, one could know what other areas they need to study to answer the most likely interview questions.</p>
{% endblock %}


{% block body %}
    {{ super() }}
{% endblock %}

{% block tail %}
    {{ super() }}

	<script type="text/javascript">
	sc_project=2721969;	
	sc_invisible=1;
	sc_security="5cfe5782";
	</script>

	<script type="text/javascript"
	src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
	class="statcounter"><a title="site stats"
	href="http://www.statcounter.com/free-web-stats/"
	target="_blank"><img class="statcounter"
	src="http://c29.statcounter.com/2721969/0/5cfe5782/0/"
	alt="free hit counter" ></a></div></noscript>
	<!-- End of StatCounter Code -->  

{% endblock %}
